.recipe {
  /* MARGIN, PADDING */
  padding: 10px;
}

.row {
  /* DISPLAY */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.setOfIngredients {
  /* BORDER */
  border: 0px solid;
  /* MARGIN, PADDING */
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredient {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* MARGIN, PADDING */
  padding: 2px;
}

.ingredient > .index {
  /*  SIZE*/
  flex: 1;
  text-align: center;
}
.ingredient > .name {
  /* SIZE */
  flex: 3;
}
.ingredient > .name:hover {
  /* FONTS */
  font-family: Quicksand-Bold;
  cursor: pointer;
}
.ingredient > .name:active {
  /* FONTS */
  color: white;
}
.ingredient > .quantity {
  /*SIZE  */
  flex: 1;
}
.ingredient > .uom {
  /* SIZE */
  flex: 1;
}

.ingredient > .step {
  /* SIZE */
  flex: 5;
}

.tip {
  /* BORDER */
  border: 0px solid;
  border-radius: 10px;
  /* COLORS */
  background-color: #272727;
  /* DISPLAY */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* MARGIN, PADDING */
  padding: 10px;
  cursor: pointer;
}

.tip:hover {
  /* COLORS */
  background-color: #303030;
}
.tip:active {
  /* COLORS */
  background-color: #363636;
}
