.step {
  /* BORDER */
  border: 0px solid;
  /* SIZE */
  flex: 1;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
}

.error {
  /* COLORS */
  color: var(--colorRed);
}

.step > .bottom > .row {
  display: flex;
  flex-direction: row;
}

.step > .bottom > .row > button#next,
.step > .bottom > .row > button#clear {
  flex: 1;
  margin: 0 5px 0 5px;
  background-color: var(--black2);
}
.step > .bottom > .row > button#next:hover,
.step > .bottom > .row > button#clear:hover {
  background-color: var(--black3);
}
.step > .bottom > .row > button#next:active,
.step > .bottom > .row > button#clear:active {
  background-color: var(--black4);
}
