.login {
  padding: 10px;
  /* BORDER */
  /* border: 2px solid; */
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.loginForm {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.loginForm > button#login {
  /* colors */
  background-color: var(--black2);
}
.loginForm > button#login:hover {
  /* colors */
  background-color: var(--black3);
}
.loginForm > button#login:active {
  /* colors */
  background-color: var(--black4);
}

.error {
  /* COLORS */
  color: var(--colorRed);
}
