.login {
  padding: 10px;
}

.loginForm {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.row {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
  /* MARGIN, PADDING */
  margin-top: 5px;
  margin-bottom: 5px;
}

.row label {
  /* BORDER */
  border: 0px solid;
  /* MARGIN, PADDING */
  margin-bottom: 5px;
}
.row input {
  /* BORDER */
  border: 2px solid #272727;
  border-radius: 10px;
  /* MARGIN, PADDING */
  padding: 10px;
  /* FONTS */
  font-family: inherit;
  font-weight: inherit;
  /* COLORS */
  color: inherit;
  background-color: inherit;
}

.row input:focus {
  outline: none !important;
  /* border: 2px solid #272727; */
  box-shadow: 0 0 4px #bdbcbc;
}
.row input:hover {
  outline: none !important;
  /* border: 2px solid #272727; */
  box-shadow: 0 0 4px #bdbcbc;
}

button {
  /* BORDER */
  border: 0px solid #272727;
  border-radius: 10px;
  /* COLORS */
  background-color: #272727;
  /* MARGIN, PADDING */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* FONTS */
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
button:hover {
  /* COLORS */
  background-color: #303030;
}
button:active {
  /* COLORS */
  background-color: #363636;
}

@media (min-width: 600px) {
  .row {
    /* DISPLAY */
    flex-direction: row;
  }
  .row label {
    /* SIZE */
    flex: 1;
    /* DISPLAY */
    display: flex;
    align-items: center;
  }
  .row input {
    /* SIZE */
    flex: 3;
  }
  button {
    /* SIZE */
    flex: 1;
  }
}
