.register {
  padding: 10px;
  /* BORDER */
  /* border: 2px solid; */
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.registerForm {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.registerForm > button#register {
  /* colors */
  background-color: var(--black2);
}
.registerForm > button#register:hover {
  /* colors */
  background-color: var(--black3);
}
.registerForm > button#register:active {
  /* colors */
  background-color: var(--black4);
}

.error {
  /* COLORS */
  color: var(--colorRed);
}
