.register {
  padding: 10px;
  /* BORDER */
  /* border: 2px solid; */
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.registerForm {
  /* BORDER */
  border: 0px solid;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
}

.registerForm > button {
  /* colors */
  background-color: var(--black2);
}
.registerForm > button:hover {
  /* colors */
  background-color: var(--black3);
}
.registerForm > button:active {
  /* colors */
  background-color: var(--black4);
}
